
<horizontdiv th:fragment="toolbar" class="toolbar" xmlns:sec="http://www.w3.org/1999/xhtml">

    <link th:href="@{/css/main.css}" rel="stylesheet" />

    <horizontdiv sec:authorize="!isAuthenticated()"><a href="/login">Login</a></horizontdiv>
    <horizontdiv sec:authorize="!isAuthenticated()"><a href="/registration">Registration</a></horizontdiv>
    <horizontdiv sec:authorize="isAuthenticated()"> <a href="/logout">Logout</a></horizontdiv>
    <horizontdiv><a href="/news">News</a></horizontdiv>
    <horizontdiv><a href="/admin">Users</a></horizontdiv>
    <p></p>
</horizontdiv>





